<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" [src]="logo" />
      <hr>
      <a class="btn btn-light" [routerLink]="['add']" role="button">Add</a>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Place name</th>
            <th>Total events</th>
            <th style="width: 20px;"></th>
            <th style="width: 20px;"></th>
            <th style="width: 20px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of place">
            <td>{{ data.placeID }}</td>
            <td>{{ data.placeName }}</td>
            <td>{{ data.events.length }}</td>
            <td><a class="btn btn-success" [routerLink]="['addEvent',data.placeID]" role="button">Add event</a></td>
            <td><a name="" id="" class="btn btn-primary" href="#" role="button">View</a></td>
            <td><a name="" id="" class="btn btn-warning" href="#" role="button">EDIT</a></td>
          </tr>
        </tbody>
        </table>
  </div><!-- /card-container -->
</div><!-- /container -->

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>